<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="icon" sizes="192x192" href="url.png">
  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">

<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans+JP&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<title>Link not Found!</title>
<style>

body
{
	display:flex;
	align-items:center;
	color:#2979ff;
	font-family: 'Noto Sans JP', sans-serif;
	justify-content:center;
	flex-direction:column;
}
h1
{
font-size:5em;
padding:0px;
margin:0px;
margin-top:10%;
}
h2
{
font-size:2em;
margin:0px;
padding:0px;
}
h3
{
font-size:4em;
margin:0px;
padding:0px;
}
p
{
display:inline-block;
margin:0px;

padding:0px;
}

.text{
 font-size:1.2em;
  color: #B6BECC;
  text-align:center;
}
.text a{
color:#2979ff;
text-decoration:none;
font-weight:bold;
}
</style>
</head>
<body>

<h1>Hmmm...</h1>
<h2>Link Not Found !</h2>
<h3>4<p>&#128530;</p>4</h3>
<p class="text">
      The page you were looking for doesn't exist.<br/>
      Return to  
      <a href="https://www.tinyfor.me">Homepage</a> 
      or explore <a href="https://cuttopoint.com">Cuttopoint</a> 
    </p>
</body>
</html>
