<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans+JP&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="197776745891-adorjvma9j9k8l4t9r70hul5q7776lfg.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<title>Tiny For me</title>
<style>
body
{
background : #2979ff;
color:white;
}

h1
{
font-family: 'Luckiest Guy', cursive;
font-size:4.5em;
padding : 15px;
font-weight:normal;
}

input[type='text']
{
border:0px;
width:40%;
min-height:4%;
margin:5px 0px;
text-align:center;
font-family: 'Noto Sans JP', sans-serif;
font-size:1.3em;
min-width:300px;
text-decoration:none;
}

input[type='button']
{
background:#002666;
border:0px #002666;
color:white;
min-height:4%;
margin:5px 0px;
width:100px;
font-family: 'Noto Sans JP', sans-serif;
font-size:1.3em;
}

h2
{
font-family: 'Noto Sans JP', sans-serif;
margin:30px;
}

@media only screen and (max-width: 470px) {

h1
{
font-size:3em;

}
input[type='text']
{
height:7%;
font-size:1em;
}
input[type='button']
{

height:7%;
}

h2
{
font-size:1.2em;	
}

}

</style>
</head>
<body>
<center><h1>tiny For Me!</h1>
<form>
<input type="text" placeholder="Enter Long URL Here..." />
<input type="button" value="Tiny it!" />
</form>
<h2> To get Custom Links and much more facilties please</h2>
<div id="my-signin2"></div>

<script>
	function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'light',
        'onsuccess': onSuccess,
        'onFailure': onFailure
      });
	  }
	  
	  function onFailure(error) {
		  console.log(error);
	  }
	  
	  function onSuccess(googleUser) {
      
		  var id_token = googleUser.getAuthResponse().id_token;
		  $.post('/verifylogin',{token:id_token},function(data,status){
					
					if(data=="error")
					{
						alert("Something Went Wrong !");
					}
					else if(data=="success")
					{
						window.open("/Dashboard", '_self');
					}
			}
			);
		}
</script>

</center>
</body>
</html>