<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="197776745891-adorjvma9j9k8l4t9r70hul5q7776lfg.apps.googleusercontent.com">

	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
   <center>
	 <div id="my-signin2"></div></center>
    <script>
	
	  function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onFailure': onFailure
      });
	  }
	  
	  function onFailure(error) {
		  console.log(error);
	  }
	  
	  function onSuccess(googleUser) {
      
	  var id_token = googleUser.getAuthResponse().id_token;
	  $.post('/verifylogin',{token:id_token},function(data,status){
					
					if(data=="error")
					{
						
						alert("Something Went Wrong !");
					}
					else if(data=="success")
					{
						window.open("/Dashboard", '_self');
					}
			}
			);
		}

    </script>
  </body>
</html>