<!DOCTYPE html>
<html lang="en">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="google-signin-scope" content="profile email">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans+JP&display=swap" rel="stylesheet">
<meta name="google-signin-client_id" content="197776745891-adorjvma9j9k8l4t9r70hul5q7776lfg.apps.googleusercontent.com"> 
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<title>TinyForme</title>
<style>
html,body {
    min-height: 100%; /* Needed for container's min-height  */  
}

body
{
background : #2979ff;
color:white;
}

h1
{
font-family: 'Luckiest Guy', cursive;
font-size:4.5em;
padding : 15px;
font-weight:normal;
}

input[type='text']
{
border:0px;
width:40%;
min-height:4%;
margin:5px 0px;
text-align:center;
font-family: 'Noto Sans JP', sans-serif;
font-size:1.3em;
min-width:300px;
text-decoration:none;
}

input[type='button']
{
background:#002666;
border:0px #002666;
color:white;
min-height:4%;
margin:5px 0px;
width:100px;
font-family: 'Noto Sans JP', sans-serif;
font-size:1.3em;
}

h2
{
font-family: 'Noto Sans JP', sans-serif;
margin:30px;
}

@media only screen and (max-width: 470px) {

h1
{
font-size:3em;

}
input[type='text']
{
height:7%;

}
input[type='button']
{

height:7%;
}

h2
{
font-size:1.2em;	
}

}

.footer
{
font-family: sans-serif;
position : fixed;
bottom:5px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}
.footer p
{
margin:0px;
}

@media only screen and (max-height: 400px) {
.footer
{
display:none;
}

}
#shorturl a
{
	color:white;
	text-decoration:none;
}
#shorturl a:href
{
	color:white;
	text-decoration:none;
}
#copybtn
	{
		
		margin:0px;
		font-size:12px;
		min-width:0px;
		width:auto;
	}
</style>
</head>
<body>
<center><h1>tiny For Me!</h1>
<form>
<input type="text" id="long" placeholder="Enter Long URL Here..." autocomplete="off" />
<input type="button" onclick="shortURL()" value="Tiny it!" />
<input type="text" id="shorturlcopy"  style="min-width:0px; width:0.1px" readonly/>
<p id="shorturl"></p>
</form>
<h2> To get Custom Links and much more facilties please</h2>
<div id="my-signin2"></div>


<div class="footer">
<p>A <b>Cuttopoint Inc.</b>Venture </p>
<p>Terms | Privacy | API </p>
</div>
<script>
	function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'light',
        'onsuccess': onSuccess,
        'onFailure': onFailure
      });
	  }
	  
	  function onFailure(error) {
		  console.log(error);
	  }
	  
	  function onSuccess(googleUser) {
      
		  var id_token = googleUser.getAuthResponse().id_token;
		  $.post('/verifylogin',{token:id_token},function(data,status){
					
					if(data=="error")
					{
						alert("Something Went Wrong !");
					}
					else if(data=="success")
					{
						window.open("/Dashboard", '_self');
					}
			}
			);
		}
		
	function shortURL()
	{
		
		var longurl=document.getElementById("long").value;
		
		$.post('api/shorturl',{longurl:longurl},function(data,status){
						
					document.getElementById("shorturlcopy").value=" ";

					if(data=="error")
					{	
						alert("Something Went Wrong !");
					}
					else
					{
						
						if(data!="Ahhh! This Custom URL is already Occupied :(" && data!="Please Enter a vaild URL." && data!="This URL is not allowed.")
						{
							
							
							document.getElementById("shorturl").innerHTML="Shrinked URL : <a style='font-color:white; text-decoration:none;' href='"+data+"' >"+data+"</a> "+" <input type='button' id='copybtn' onClick='Copy()' data-toggle='tooltip' title='Copied!' value='Copy'/>";
							document.getElementById("shorturlcopy").value=data;
						
						}
						else
						{
							document.getElementById("shorturl").innerHTML=data;
						}
					}
			}
			);
	}
	
	function Copy()
	{
	
		var copyText = document.getElementById("shorturlcopy");
		copyText.select();
		document.execCommand("copy");
		document.getElementById("copybtn").value="Copied";
	}
</script>

</center>
</body>
</html>
